body
{
font-family: 'Roboto', sans-serif;
background-color:rgb(217,195,178);
}



.footer
{
position:fixed;
left:0;
bottom:0;
width:100%;
height:60px;
text-align:center;
background-color:rgb(160,168,173);
}
.text-padding
{
padding-bottom:20px;
}
.link
{
position:relative;
left:32%
}